.grid-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    margin-top: 20px; 
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 500px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.grid-square {
    border-style: solid;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-width: 1px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.new-grid-button {
    padding: 5px;
    font-size: 18px;
}
