.grid-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    margin-top: 50px;
}

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 400px;
    flex-wrap: wrap;
}

.grid-square {
    border-style: solid;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.new-grid-button {
    padding: 10px;
    font-size: 20px;
}
